@model ForgotPasswordModel
@{
    Layout = "~/Views/Shared/_LogOnLayout.cshtml";
    var id = Html.RandomID();
}

<div class="row">
    <div class="small-12 medium-5 large-4 medium-centered columns">
        <div class="logon-form">
            <div class="email-login">
                @using (Html.BeginForm("ForgotPassword", "User", new { area = "" }, FormMethod.Post, new { id }))
                {
                    @Html.ValidationMessage("")

                    <h3>@Html.Lang("forgot.password.title")</h3>
                    <p>@Html.Lang("forgot.password.text")</p>

                    @Html.FTELEditorFor(m => m.Email)

                    <div class="text-right">
                        <a class="button light bordered no-mar-bottom" href="@Url.Action("LogOn", "User", new { area = "" })">@Html.Lang("back")</a>
                        <button type="submit" class="button">@Html.Lang("forgot.password.button.text")</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#@(id)").ftelvalidation();
    })
</script>