﻿@using MembershipUser = Ftel.Domain.DomainModel.MembershipUser
﻿@model UserProfileModel
@{
    var isadmin = RoleHelper.IsAdminData || RoleHelper.IsAdminTech;
}

<div class="row">
    <div class="small-12 @(isadmin ? "medium-4" : "medium-6 large-5 medium-centered") column">
        <div class="user-infos">
            <div class="row">
                <div class="small-12 column">
                    @if ((RoleHelper.IsAdminData || RoleHelper.IsAdminTech)/* && Model.Statut != MembershipUser.Statut.REFUSED*/)
                    {
                        <a class="edit-button button light bordered no-mar-bottom" href="@Url.Action("Edit", "User", new {area="Admin", id=Model.Id})"><i class="fa fa-edit"></i> @Html.Lang("edit")</a>
                    }

                    <h5 class="no-mar-top">
                        @LangHelper.Translate(Model.Civility.ToString().ToLower().ToCamelCase().CamelCaseToRessourcePropertyName()) @Model.Firstname @Model.Lastname
                    </h5>
                </div>

                <div class="small-12 medium-4 column">
                    @Html.LabelFor(m => m.Email)
                </div>
                <div class="small-12 medium-8 column ftel-editor-field">
                    @Model.Email &nbsp;
                </div>

                <div class="small-12 medium-4 column">
                    @Html.LabelFor(m => m.Title)
                </div>
                <div class="small-12 medium-8 column ftel-editor-field">
                    @Model.Title &nbsp;
                </div>
                <div class="small-12 medium-4 column">
                    @Html.LabelFor(m => m.Society)
                </div>
                <div class="small-12 medium-8 column ftel-editor-field">
                    @if (Model.Society == null)
                    {
                        <text>-</text>
                    }
                    else
                    {
                        @Model.Society
                    }
                </div>

                <div class="small-12 medium-4 column">
                    <label>@Html.Lang("ranges")</label>
                </div>
                <div class="small-12 medium-8 column ftel-editor-field">
                    @string.Join(", ", Model.RangesNames)&nbsp;
                </div>
                <div class="small-12 medium-4 column">
                    <label>@Html.Lang("filtering")</label>
                </div>
                <div class="small-12 medium-8 column ftel-editor-field">
                    @string.Join(", ", Model.FilteringNames)&nbsp;
                </div>
                <div class="small-12 medium-4 column">
                    @Html.LabelFor(m => m.Statut)
                </div>
                <div class="small-12 medium-8 column ftel-editor-field">
                    @LangHelper.Translate(Model.Statut.ToString().ToLower().ToCamelCase().CamelCaseToRessourcePropertyName())&nbsp;
                </div>
                <div class="small-12 medium-4 column">
                    @Html.LabelFor(m => m.EndValidityDate)
                </div>
                <div class="small-12 medium-4 column">
                    @Html.LabelFor(m => m.LastActivityDate)
                </div>
                <div class="small-12 medium-8 column ftel-editor-field">
                    @if (!Model.LastActivityDate.HasValue)
                    {
                        <text>-</text>
                    }
                    else
                    {
                        @Model.LastActivityDate
                    }
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-4 column">
                    @Html.LabelFor(m => m.EndValidityDate)
                </div>
                <div class="small-12 medium-8 column ftel-editor-field">
                    @Model.EndValidityDate&nbsp;
                </div>
            </div>
            <div class="row">
                <div class="small-12 medium-4 column">
                    @Html.LabelFor(m => m.Newsletter)
                </div>
                <div class="small-12 medium-8 column">
                    @if (Model.Newsletter)
                    {
                        <i class="fa fa-check"></i> @Html.Lang("is.subscribe.to.newsletter")
                    }
                    else
                    {
                        <i class="fa fa-times"></i> @Html.Lang("is.not.subscribe.to.newsletter")
                    }
                </div>

            </div>
        </div>
    </div>
    @if (isadmin)
    {
        <div class="small-12 medium-8 column mar-top">
            @Html.WebPart("Logs", "User", "Admin", Model.Id)
        </div>
    }
</div>