@model KendoDropDownList

@{
    var model = Model.Model == null ? "" : Model.Model.Id.ToString();
    string data = null;
    if (Model.ViewData.ModelMetadata.AdditionalValues.ContainsKey("ReadData"))
    {
        data = (string) Model.ViewData.ModelMetadata.AdditionalValues["ReadData"];
    }

    string databound = null;
    if (Model.ViewData.ModelMetadata.AdditionalValues.ContainsKey("DataBound"))
    {
        databound = (string) Model.ViewData.ModelMetadata.AdditionalValues["DataBound"];
    }

    string change = null;
    if (Model.ViewData.ModelMetadata.AdditionalValues.ContainsKey("Change"))
    {
        change = (string) Model.ViewData.ModelMetadata.AdditionalValues["Change"];
    }

    string select = null;
    if (Model.ViewData.ModelMetadata.AdditionalValues.ContainsKey("Select"))
    {
        select = (string) Model.ViewData.ModelMetadata.AdditionalValues["Select"];
    }
     
    var grid = false;
    if (Model.ViewData.ModelMetadata.AdditionalValues.ContainsKey("Grid"))
    {         
        grid = (bool)Model.ViewData.ModelMetadata.AdditionalValues["Grid"];
    }
    
    var textfield = ViewData.TemplateInfo.HtmlFieldPrefix + "." + Model.DataTextField;
    var valuefield = ViewData.TemplateInfo.HtmlFieldPrefix + "." + Model.DataValueField;
    var id = ViewData.TemplateInfo.HtmlFieldPrefix + "_" + Html.RandomID();
    var name = ViewData.TemplateInfo.HtmlFieldPrefix;
    var onchange = id + "_change";
    var ondatabound = id + "_databound";
}

<div class="ftel-editor-field">
    <input type="hidden" name="@(textfield)"  />
    <input type="hidden" name="@(valuefield)" />
    <script type="text/javascript">
    function @(onchange)(e) {
        var value = e.sender.dataItem();
        $("[name='@(textfield)']").val(value ? value.@(Model.DataTextField) : "");
        $("[name='@(valuefield)']").val(value ? value.@(Model.DataValueField) : "");


        @if (!string.IsNullOrWhiteSpace(change))
        {
            @:if(window.@(change))@(change)(e);
        }
    }
    function @(ondatabound)(e) {
        var value = e.sender.dataItem();
        $("[name='@(textfield)']").val(value ? value.@(Model.DataTextField) : "");
        $("[name='@(valuefield)']").val(value ? value.@(Model.DataValueField) : "");


        @if (!string.IsNullOrWhiteSpace(databound))
        {
            @:if(window.@(databound))@(databound)(e);
        }
    }
    </script>
    @(Html.Kendo()
        .DropDownList()
        .Name(grid ? name : id)
        .HtmlAttributes(new { id })
        .DataSource(source => { source.Read(read => { read.Action(Model.ActionName, Model.ControllerName, new {area = Model.Area}).Data(data); }); })
        .Events(e =>
        {
            e.DataBound(ondatabound);
            e.Change(onchange);
            if (!string.IsNullOrWhiteSpace(select))
            {
                e.Select(@<text>function(e){if(@(select))@(select)(e);}</text>);
            }
        })
        //.Filter(Model.Filter)
        .DataTextField(Model.DataTextField)
        .DataValueField(Model.DataValueField)
        .Value(model)
    )
    @Html.ValidationMessage(Model.DataTextField)
    @Html.ValidationMessage(Model.DataValueField)
</div>
